$schema: https://raw.githubusercontent.com/go-rotini/rotini/refs/tags/{{.Version}}/schema-spec.json
command:
  name: {{.Package}}
  commands:
    - name: version
      summary: print version
      inputs:
        flags:
          - name: help
            summary: print help
            identifiers:
              - -h
              - --help
            schema:
              type: bool
    - name: help
      summary: print help for a command
      inputs:
        arguments:
          - name: commands
            summary: the command path to print help for
            schema:
              type: array
        flags:
          - name: help
            summary: print help
            identifiers:
              - -h
              - --help
            schema:
              type: bool
  inputs:
    flags:
      - name: version
        summary: print version
        identifiers:
          - -v
          - --version
        schema:
          type: bool
      - name: help
        summary: print help
        identifiers:
          - -h
          - --help
        schema:
          type: bool
