# yaml-language-server: $schema=./.rotini-schema.conf.json
version: {{.Version}}
generate:
  schemas:
    conf:
      path: cmd/{{.Package}}/.rotini-schema.conf.json
    spec:
      path: cmd/{{.Package}}/.rotini-schema.spec.json
  packages:
    entrypoint:
      package: cmd/{{.Package}}
      file: main.go
    cmd:
      package: internal/cmd/{{.Package}}
      file: zz_rotini.go
      keep: []
    cmdgen:
      package: internal/cmd/{{.Package}}
      file: zz_rotini.go
      keep: []
  features:
    help:
      enabled: false
      embed: false
      embed_dir: internal/cmd/{{.Package}}/renders
      template_dir: internal/cmd/{{.Package}}/templates
    completion:
      enabled: false
      embed: false
      embed_dir: internal/cmd/{{.Package}}/renders
      template_dir: internal/cmd/{{.Package}}/templates
    man:
      enabled: false
      embed: true
      embed_dir: internal/cmd/{{.Package}}/renders
      template: true
      template_dir: internal/cmd/{{.Package}}/templates
    markdown:
      enabled: false
      embed: true
      embed_dir: internal/cmd/{{.Package}}/renders
      template: true
      template_dir: internal/cmd/{{.Package}}/templates
validate:
  fail: collect
