$schema: https://raw.githubusercontent.com/go-rotini/rotini/refs/tags/{{.RotiniVersion}}/schema-conf.json
initialize:
  package: cmd
  format: yaml
generate:
  packages:
    cli:
      package: internal/cmd/{{.RootCommandName}}
      file: rotini.gen.go
    cligen:
      package: internal/cmd/{{.RootCommandName}}
      file: rotini.gen.go
  features:
    help:
      enabled: true
      dir: internal/cmd/{{.RootCommandName}}/embed/help
    man:
      enabled: false
      dir: internal/cmd/{{.RootCommandName}}/embed/man
    completion:
      enabled: false
      dir: internal/cmd/{{.RootCommandName}}/embed/completion
validate:
  fail: collect
