$schema: https://raw.githubusercontent.com/go-rotini/rotini/refs/tags/{{.Version}}/schema-spec.json
command:
  name: {{.Package}}
{{- if or .WireHelp .WireCompletion .WireVersion}}
  commands:
{{- end}}
{{- if .WireVersion}}
    - name: version
      summary: print version
{{- if .WireHelp}}
      inputs:
        flags:
          - name: help
            summary: print help
            identifiers:
              - -h
              - --help
            schema:
              type: bool
{{- end}}
{{- end}}
{{- if .WireHelp}}
    - name: help
      summary: print help for a command
      inputs:
        arguments:
          - name: commands
            summary: the command path to print help for
            schema:
              type: array
        flags:
          - name: help
            summary: print help
            identifiers:
              - -h
              - --help
            schema:
              type: bool
{{- end}}
{{- if .WireCompletion}}
    - name: completion
      summary: print a shell completion script
      inputs:
        arguments:
          - name: shell
            summary: the target shell
            schema:
              type: string
              required: true
              enum:
                - bash
                - zsh
                - fish
                - powershell
{{- if .WireHelp}}
        flags:
          - name: help
            summary: print help
            identifiers:
              - -h
              - --help
            schema:
              type: bool
{{- end}}
{{- end}}
{{- if or .WireHelp .WireVersion}}
  inputs:
    flags:
{{- if .WireVersion}}
      - name: version
        summary: print version
        identifiers:
          - -v
          - --version
        schema:
          type: bool
{{- end}}
{{- if .WireHelp}}
      - name: help
        summary: print help
        identifiers:
          - -h
          - --help
        schema:
          type: bool
{{- end}}
{{- end}}
