package {{.Package}}

import (
	"context"
	"fmt"

	"github.com/go-rotini/rotini"
)

type {{.HandlersType}} struct{
	rotini.DefaultCascadingPreRun
	rotini.DefaultPreRun
	rotini.DefaultPostRun
	rotini.DefaultCascadingPostRun
}

var _ rotini.CommandHandlers = (*{{.HandlersType}})(nil)

func (*{{.HandlersType}}) Run(ctx context.Context, rtx *rotini.Context) {
	inputs, err := rotini.Collect[{{.RootCommandName}}VersionInputs](rtx)
	if err != nil {
		rtx.RecordError(err)
		rtx.SignalExit(1)
		return
	}
{{- if .HasHelp}}

	if inputs.{{.RootCommandName}}Version.Flags.Help {
		fmt.Fprintln(rtx.Stdout, {{.HelpVar}})
		rtx.SignalExit(0)
		return
	}
{{- end}}

	v := rotini.MustGet[*rotini.Versioner](rtx, rotini.KeyVersioner)
	fmt.Fprintf(rtx.Stdout, "v%s\n", v.VersionSemantic)
}
