package {{.Package}}

import (
	"context"
	"fmt"

	"github.com/go-rotini/rotini"
)

type {{.HandlersType}} struct{
	rotini.DefaultCascadingPreRun
	rotini.DefaultPreRun
	rotini.DefaultPostRun
	rotini.DefaultCascadingPostRun
}

var _ rotini.CommandHandlers = (*{{.HandlersType}})(nil)

func (*{{.HandlersType}}) Run(ctx context.Context, rtx *rotini.Context) {
	inputs, err := rotini.Collect[{{.RootCommandName}}CompletionInputs](rtx)
	if err != nil {
		rtx.RecordError(err)
		rtx.SignalExit(rotini.ExitUsage)
		return
	}
{{- if .HasHelp}}

	if inputs.{{.RootCommandName}}Completion.Flags.Help {
		fmt.Fprintln(rtx.Stdout, {{.HelpVar}})
		rtx.SignalExit(0)
		return
	}
{{- end}}

	script, err := Completion(inputs.{{.RootCommandName}}Completion.Arguments.Shell)
	if err != nil {
		rtx.RecordError(err)
		rtx.SignalExit(rotini.ExitUsage)
		return
	}

	// source <({{.Package}} completion zsh)
	fmt.Fprintln(rtx.Stdout, script)
}
