package {{.Package}}

import (
	"context"
	"fmt"

	"github.com/go-rotini/rotini"
)

type {{.HandlersType}} struct{
	rotini.DefaultCascadingPreRun
	rotini.DefaultPreRun
	rotini.DefaultPostRun
	rotini.DefaultCascadingPostRun
}

var _ rotini.CommandHandlers = (*{{.HandlersType}})(nil)

func (*{{.HandlersType}}) Run(ctx context.Context, rtx *rotini.Context) {
	fmt.Fprintln(rtx.Stderr, "Error: not implemented")
	rtx.Exit(1)
}
