package {{.Package}}

import (
	"context"
	"fmt"

	"github.com/go-rotini/rotini"
)

var _ rotini.Handlers = (*{{.HandlersType}})(nil)

type {{.HandlersType}} struct{
	rotini.DefaultCascadingPreRun
	rotini.DefaultPreRun
	rotini.DefaultPostRun
	rotini.DefaultCascadingPostRun
}

func (*{{.HandlersType}}) CascadingPreRun(ctx context.Context, rtx *rotini.Context) {
	fmt.Fprintln(rtx.Stdout, "{{.HandlersType}} CascadingPreRun")
}

func (*{{.HandlersType}}) PreRun(ctx context.Context, rtx *rotini.Context) {
	fmt.Fprintln(rtx.Stdout, "{{.HandlersType}} PreRun")
}

func (*{{.HandlersType}}) Run(ctx context.Context, rtx *rotini.Context) {
	fmt.Fprintln(rtx.Stdout, "{{.HandlersType}} Run")
}

func (*{{.HandlersType}}) PostRun(ctx context.Context, rtx *rotini.Context) {
	fmt.Fprintln(rtx.Stdout, "{{.HandlersType}} PostRun")
}

func (*{{.HandlersType}}) CascadingPostRun(ctx context.Context, rtx *rotini.Context) {
	fmt.Fprintln(rtx.Stdout, "{{.HandlersType}} CascadingPostRun")
}
