//go:generate go tool github.com/go-rotini/rotini generate

package main

import (
	"os"

	"{{.ModulePath}}/internal/cli/cmd"
	"{{.ModulePath}}/internal/cli/rotini"
)

func main() {
	os.Exit(rotini.ExitCode(cmd.Program.Execute()))
}
