//go:generate go tool github.com/go-rotini/rotini generate {{.RotiniSpecFilePath}} --config {{.RotiniConfFilePath}}
package main

import (
{{- if .RotiniCommandPackageAlias}}
	"{{.RotiniCommandPackageAlias}} {{.RotiniCommandPackageImport}}"
{{- else}}
	"{{.RotiniCommandPackageImport}}"
{{- end}}
)

func main() {
	{{.RotiniCommandPackageName}}.Program.Execute()
}
