//go:generate go tool rotini generate ./.rotini.spec.yaml --config ./.rotini.conf.yaml
package main

import (
	{{.PackageAlias}} "{{.Package}}"
)

func main() {
	{{.PackageAlias}}.Program.Execute()
}
