version: {{.Version}}
generate:
  schemas:
    conf:
      path: cmd/{{.Package}}/.rotini-schema.conf.json
    spec:
      path: cmd/{{.Package}}/.rotini-schema.spec.json
  packages:
    - type: main
      file: cmd/{{.Package}}/main.go
      keep: []
    - type: cmd
      file: internal/cmd/{{.Package}}/zz_rotini.go
      keep: []
    - type: runtime
      file: internal/cmd/{{.Package}}/rotini/zz_runtime.go
      keep: []
  features:
    - type: help
      enabled: false
      embed: false
      embed_dir: internal/cmd/{{.Package}}/renders
      template_dir: internal/cmd/{{.Package}}/templates
    - type: completion
      enabled: false
      embed: false
      embed_dir: internal/cmd/{{.Package}}/renders
      template_dir: internal/cmd/{{.Package}}/templates
    - type: man
      enabled: false
      embed: true
      embed_dir: internal/cmd/{{.Package}}/renders
      template: true
      template_dir: internal/cmd/{{.Package}}/templates
    - type: markdown
      enabled: false
      embed: true
      embed_dir: internal/cmd/{{.Package}}/renders
      template: true
      template_dir: internal/cmd/{{.Package}}/templates
validate:
  fail: collect
