package {{.Package}}

import (
	"context"
	"fmt"

	{{.RuntimeImport}}
)

var _ rotini.Handler = (*{{.HandlerType}})(nil)

type {{.HandlerType}} struct {
{{- if not .RootHook}}
	rotini.NoCascadingPreRun
{{- end}}
	rotini.NoPreRun
	rotini.NoPostRun
	rotini.NoCascadingPostRun
}
{{- if .RootHook}}

func (*{{.HandlerType}}) CascadingPreRun(ctx context.Context, rtx *rotini.Context) {
	inputs, err := rtx.Inputs[{{.InputsType}}]()
	if err != nil {
		rtx.HaltWith(err)
		return
	}
{{- if .RootHelpFlag}}

	if inputs.{{.Prefix}}.Flags.{{.RootHelpFlag}} {
		var path []string
		for _, c := range rtx.CommandChain()[1:] {
			path = append(path, c.Name)
		}

		page, err := Help(path...)
		if err != nil {
			rtx.HaltWith(err)
			return
		}

		fmt.Fprintln(rtx.Stdout, page)
		rtx.HaltWithCode(0)
		return
	}
{{- end}}
{{- if .RootVersionFlag}}

	if inputs.{{.Prefix}}.Flags.{{.RootVersionFlag}} {
		version := rtx.Version()
		if version == "" {
			version = "unknown"
		}

		fmt.Fprintln(rtx.Stdout, version)
		rtx.HaltWithCode(0)
		return
	}
{{- end}}
}
{{- end}}

func (*{{.HandlerType}}) Run(ctx context.Context, rtx *rotini.Context) {
{{- if and .HelpFlag .VersionFlag}}
	if argv, err := rtx.ArgvInputs[{{.InputsType}}](); err == nil {
		if argv.Values.{{.HelpFrame}}.Flags.{{.HelpFlag}} {
			fmt.Fprintln(rtx.Stdout, rtx.Help())
			rtx.HaltWithCode(0)
			return
		}

		if argv.Values.{{.Prefix}}.Flags.{{.VersionFlag}} {
			version := rtx.Version()
			if version == "" {
				version = "unknown"
			}

			fmt.Fprintln(rtx.Stdout, version)
			rtx.HaltWithCode(0)
			return
		}
	}
{{else if .HelpFlag}}
	if argv, err := rtx.ArgvInputs[{{.InputsType}}](); err == nil && argv.Values.{{.HelpFrame}}.Flags.{{.HelpFlag}} {
		fmt.Fprintln(rtx.Stdout, rtx.Help())
		rtx.HaltWithCode(0)
		return
	}
{{else if .VersionFlag}}
	if argv, err := rtx.ArgvInputs[{{.InputsType}}](); err == nil && argv.Values.{{.Prefix}}.Flags.{{.VersionFlag}} {
		version := rtx.Version()
		if version == "" {
			version = "unknown"
		}

		fmt.Fprintln(rtx.Stdout, version)
		rtx.HaltWithCode(0)
		return
	}
{{end}}
{{- if .NeedsInputs}}
{{- if .UsesInputs}}
	inputs, err := rtx.Inputs[{{.InputsType}}]()
	if err != nil {
		rtx.HaltWith(err)
		return
	}
{{else}}
	if _, err := rtx.Inputs[{{.InputsType}}](); err != nil {
		rtx.HaltWith(err)
		return
	}
{{end}}
{{- end}}
{{- if .HelpPathArg}}
	page, err := Help(inputs.{{.Prefix}}.Arguments.{{.HelpPathArg}}...)
	if err != nil {
		rtx.HaltWith(err)
		return
	}

	fmt.Fprintln(rtx.Stdout, page)
{{- else if .VersionOnly}}
	version := rtx.Version()
	if version == "" {
		version = "unknown"
	}

	fmt.Fprintln(rtx.Stdout, version)
{{- else if .PrintHelpWhenBare}}
	fmt.Fprintln(rtx.Stdout, rtx.Help())
	rtx.HaltWithCode(1)
{{- else}}
	fmt.Fprintf(rtx.Stdout, "%s: %+v\n", "{{.Invocation}}", inputs)
{{- end}}
}
