//go:generate go tool rotini generate ./.rotini.spec.{{.Extension}} --config ./.rotini.conf.{{.Extension}}
package main

import (
	{{.PackageAlias}} "{{.Package}}"
)

// go build -ldflags "-X main.version=1.2.3" ./cmd/...
var version = "0.0.0"

func main() {
	{{.PackageAlias}}.NewProgram({{.PackageAlias}}.Handlers()).
		WithVersion(version).
		Execute()
}
