//go:generate go tool rotini generate ./.rotini.spec.{{.Extension}} --config ./.rotini.conf.{{.Extension}}
package main

import (
	"github.com/go-rotini/rotini"

	{{.PackageAlias}} "{{.Package}}"
)

// version is what `--version` reports. Stamp it at build time:
//
//	go build -ldflags "-X main.version=1.2.3" ./cmd/...
var version = "0.0.0"

func main() {
	{{.PackageAlias}}.Program.
		Bind(rotini.KeyVersion, version).
		Bind(rotini.KeyParser, rotini.NewParser()).
		Execute()
}
