//go:generate go tool rotini generate ./.rotini.spec.{{.Extension}} --config ./.rotini.conf.{{.Extension}}
package main

import (
	{{.PackageAlias}} "{{.Package}}"
)

func main() {
	{{.PackageAlias}}.Program.Execute()
}
